/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 5px;
    min-height: 7%;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 100%;
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}
.sign-up {
    background-color: #2a2a88;
}
.input-movies{
    height: 20px;
    border: none;
    background-color: transparent;
}
.green{
    color: #4ebc2f;
    background-color: transparent;
}
.red{
    color: #c02537;
    background-color: transparent;
}
body > div.container-fluid.text-center > div > div.col-sm-8.text-left > div.col-sm-9.text-left > a.edit{
    color: #ff5b62;
}
body > div.container-fluid.text-center > div > div.col-sm-8.text-left > div.col-sm-9.text-left > a.edit:hover{
    color: #ff182f;
}
.edit{
    color: #ff5b62;
}
.edit:hover{
    color: #ff182f;
}
.user{
    color: #92b6d4;
}
.user:hover{
    color: #5f7388;
}
.admin{
    color: #9b9aa0;
}
.admin:hover{
    color: #727177;
}
.selectboxes {

    padding: 10px 0 4px 20px;
}
select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
}

.selectboxes select {
    width: 163px;
    font-family: tahoma, verdana, "trebuchet ms", sans-serif;
    font-size: 12px;
    margin-bottom: 9px;
    padding: 4px 2px;
}
.clear {
    height: 1px;
    overflow: hidden;
    clear: left;
}
.review {
    font-size: 20px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
label > input[type-text]{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.narrow-span{
    width: 50px;
}
.mainContent {
    background-color: #fff;
    height: 100%;
    position: relative;
}
.wrapper{
    background-color: #f1f1f1;
    min-height: 86%;
}
html, body {
    height: 100%;
}
html {
    position: relative;
    min-height: 100%;
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    min-height: 7%;
    background-color: #555;
}
#child{
    padding: 1%;
    margin: 0;
}
textarea{
    width: 300px;
}

.toUpAPurse{
    display: flex;
    flex-direction: row;
}

.batton-submit{
    margin: 0;
    padding: 0;
}

.input-amount{
    margin: 0;
    padding: 0;
}