<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Eat&Fit</title>
    <link rel="shortcut icon" href="../static/image/logo.ico"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/src/main/webapp/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/main/webapp/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/src/main/webapp/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/src/main/webapp/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/src/main/webapp/static/css/themify-icons.css">
    <link rel="stylesheet" href="/src/main/webapp/static/css/nice-select.css">
    <link rel="stylesheet" href="/src/main/webapp/static/css/flaticon.css">
    <link rel="stylesheet" href="/src/main/webapp/static/css/gijgo.css">
    <link rel="stylesheet" href="/src/main/webapp/static/css/animate.min.css">
    <link rel="stylesheet" href="/src/main/webapp/static/css/slick.css">
    <link rel="stylesheet" href="/src/main/webapp/static/css/slicknav.css">
    <link rel="stylesheet" href="/src/main/webapp/static/css/style.css">
    <link rel="stylesheet" href="/src/main/webapp/static/css/registration.css">
    <link rel="stylesheet" href="/src/main/webapp/static/css/message.css">
    <script src="/src/main/webapp/static/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/src/main/webapp/static/js/loadClient.js"></script>
</head>

<body>

<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area progress-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-2">
                        <div class="logo">
                            <a href="/">
                                <img class="main-header-logo" src="/src/main/webapp/static/img/logo_new.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7">
                        <div class="main-menu   d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="/" th:text="#{locale.home}">Home</a></li>
                                    <li><a href="/info/about" th:text="#{nav.about}">About</a></li>
                                    <li><a href="/info/recipes" th:text="#{nav.recipes}">Recipes</a></li>
                                    <li hidden name="sign"><a href="/sign/up" th:text="#{nav.sign}">Sign</a></li>
                                    <li hidden name="user"><a href="#">user<i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li hidden name="admin"><a href="/admin/products"
                                                                       th:text="#{nav.admin.page}">Admin Page</a></li>
                                            <li><a href="/user/meals" th:text="#{nav.daily.eating}">Daily Eating</a>
                                            </li>
                                            <li><a href="/user/progress" th:text="#{nav.progress}">Progress</a></li>
                                            <li><a href="/client/edit" th:text="#{nav.edit}">Edit</a></li>
                                            <li><a href="/sign/out" th:text="#{nav.logout}">Logout</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/info/contact" th:text="#{nav.contact}">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                        <div class="search_icon" th:if="${#locale.toString() == 'ru_RU'}">
                            <a th:href="@{${#httpServletRequest.requestURI}(lang='en_US')}">
                                <i>EN</i>
                            </a>
                        </div>
                        <div class="search_icon" th:if="${#locale.toString() == 'en_US'}">
                            <a th:href="@{${#httpServletRequest.requestURI}(lang='ru_RU')}">
                                <i>RU</i>
                            </a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- slider_area_start -->
<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_3">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-8 ">
                    <div class="slider_text text-center">
                        <div class="text">

                            <div class="rg-form">

                                <ul class="rg-tab-group" th:if="${#httpServletRequest.getParameter('error') == null}">
                                    <li class="rg-tab active"><a class="rg-a"
                                                                 href="#signup">Sign Up</a>
                                    </li>
                                    <li class="rg-tab"><a class="rg-a"
                                                          href="#login">Sign In</a>
                                    </li>
                                </ul>

                                <ul class="rg-tab-group" th:if="${#httpServletRequest.getParameter('error') != null}">
                                    <li class="rg-tab"><a class="rg-a"
                                                          href="#signup">Sign Up</a>
                                    </li>
                                    <li class="rg-tab active"><a class="rg-a"
                                                                 href="#login">Sign In</a>
                                    </li>
                                </ul>

                                <div class="rg-tab-content">
                                    <div id="signup"
                                         th:style="${#httpServletRequest.getParameter('error') == null ? 'display:block' : 'display:none'}">
                                        <h1 class="rg-h1" th:text="#{h1.sign.up}"></h1>

                                        <div class="alert alert-danger"
                                             th:if="${#httpServletRequest.getParameter('error_create') != null}">
                                            <a href="#" class="close">x</a>
                                            <strong th:text="#{invalid.oh}"></strong> <span
                                                th:text="#{invalid.error.user.exist}"></span>
                                        </div>

                                        <form class="singup" action="/sign/up" method="POST" accept-charset="UTF-8">
                                            <div class="rg-field-wrap">
                                                <label class="rg-label" th:text="#{span.email}">
                                                    <span class="req rg-span">*</span>
                                                </label>
                                                <input class="rg-input" type="email" name="login" required
                                                       autocomplete="off"/>
                                                <p class="invalid-p"></p>
                                            </div>

                                            <div class="rg-field-wrap">
                                                <label class="rg-label" th:text="#{span.pass}">
                                                    <span class="req rg-span">*</span>
                                                </label>
                                                <input class="rg-input" type="password" name="password" required
                                                       autocomplete="off"/>
                                                <p class="invalid-p"></p>
                                            </div>

                                            <div class="rg-field-wrap">
                                                <label class="rg-label" th:text="#{span.conf.pass}">
                                                    <span class="req rg-span">*</span>
                                                </label>
                                                <input class="rg-input" type="password" name="conf-password" required
                                                       autocomplete="off"/>
                                                <p class="invalid-p"></p>
                                            </div>

                                            <button type="submit" class="rg-button rg-button-block signup-sbm"
                                                    th:text="#{button.start}">
                                            </button>

                                        </form>

                                    </div>

                                    <div id="login"
                                         th:style="${#httpServletRequest.getParameter('error') != null ? 'display:block' : 'display:none'}">
                                        <h1 class="rg-h1" th:text="#{h1.sign.in}"></h1>

                                        <div class="alert alert-danger"
                                             th:if="${#httpServletRequest.getParameter('error') != null}">
                                            <a href="#" class="close">x</a>
                                            <strong th:text="#{invalid.oh}"></strong> <span
                                                th:text="#{invalid.error.user}"></span>
                                        </div>

                                        <form th:action="@{/sign/in}" method="post" accept-charset="UTF-8">

                                            <div class="rg-field-wrap">
                                                <label class="rg-label" th:text="#{span.email}">
                                                    <span class="req rg-span">*</span>
                                                </label>
                                                <input class="rg-input" type="email" name="login" required
                                                       autocomplete="off"/>
                                                <p class="invalid-p"></p>
                                            </div>

                                            <div class="rg-field-wrap">
                                                <label class="rg-label" th:text="#{span.pass.simpl}">
                                                    <span class="req rg-span">*</span>
                                                </label>
                                                <input class="rg-input" type="password" name="password" required
                                                       autocomplete="off"/>
                                                <p class="invalid-p"></p>
                                            </div>

                                            <p class="rg-forgot"><a class="rg-a" href="#">Forgot Password?</a></p>

                                            <button class="rg-button rg-button-block signin-sbm"
                                                    th:text="#{button.login}">
                                            </button>
                                        </form>
                                    </div>
                                </div><!-- tab-content -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p hidden id="error_email" th:text="#{enter.error.email}"></p>
<p hidden id="error_pass" th:text="#{enter.error.pass}"></p>
<p hidden id="error_conf_pass" th:text="#{enter.error.conf.pass}"></p>
<p hidden id="error_empty" th:text="#{enter.empty}"></p>
<!-- slider_area_end -->

<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-md-6 col-lg-5">
                    <div class="footer_widget text-center">
                        <h3 class="footer_title" th:text="#{footer.mission}">
                        </h3>
                        <p th:text="#{about.body}"></p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget text-center">
                        <h3 class="footer_title" th:text="#{footer.head}">
                        </h3>
                        <ul>
                            <li><a href="/" th:text="#{footer.home}"></a></li>
                            <li><a href="/info/about" th:text="#{footer.about}"></a></li>
                            <li><a href="/info/recipes" th:text="#{footer.recipes}"></a></li>
                            <li><a href="/user/meals" th:text="#{footer.personal.info}"></a></li>
                            <li><a href="/user/contact" th:text="#{footer.contact}"></a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="footer_widget">
                        <h3 class="footer_title" th:text="#{footer.subscribe}">
                        </h3>
                        <p class="newsletter_text" th:text="#{footer.subtext}"></p>
                        <form action="#" class="newsletter_form">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit"><i class="ti-arrow-right"></i></button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row align-items-center">
                <div class="col-xl-8 col-md-8">
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="socail_links">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="ti-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-twitter-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-behance"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- JS here -->
<script src="/src/main/webapp/static/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="/src/main/webapp/static/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/src/main/webapp/static/js/popper.min.js"></script>
<script src="/src/main/webapp/static/js/bootstrap.min.js"></script>
<script src="/src/main/webapp/static/js/owl.carousel.min.js"></script>
<script src="/src/main/webapp/static/js/isotope.pkgd.min.js"></script>
<script src="/src/main/webapp/static/js/ajax-form.js"></script>
<script src="/src/main/webapp/static/js/waypoints.min.js"></script>
<script src="/src/main/webapp/static/js/jquery.counterup.min.js"></script>
<script src="/src/main/webapp/static/js/imagesloaded.pkgd.min.js"></script>
<script src="/src/main/webapp/static/js/scrollIt.js"></script>
<script src="/src/main/webapp/static/js/jquery.scrollUp.min.js"></script>
<script src="/src/main/webapp/static/js/wow.min.js"></script>
<script src="/src/main/webapp/static/js/nice-select.min.js"></script>
<script src="/src/main/webapp/static/js/jquery.slicknav.min.js"></script>
<script src="/src/main/webapp/static/js/jquery.magnific-popup.min.js"></script>
<script src="/src/main/webapp/static/js/plugins.js"></script>
<script src="/src/main/webapp/static/js/gijgo.min.js"></script>

<!--contact js-->
<script src="/src/main/webapp/static/js/contact.js"></script>
<script src="/src/main/webapp/static/js/jquery.ajaxchimp.min.js"></script>
<script src="/src/main/webapp/static/js/jquery.form.js"></script>
<script src="/src/main/webapp/static/js/jquery.validate.min.js"></script>
<script src="/src/main/webapp/static/js/mail-script.js"></script>

<script src="/src/main/webapp/static/js/main.js"></script>

<script src="/src/main/webapp/static/js/first_registration.js"></script>
<script src="/src/main/webapp/static/js/validator.js"></script>
<script src="/src/main/webapp/static/js/message.js"></script>

</body>

</html>